<h2>Questions</h2>

<ul class="questions">
<% @questions.each do |question| %>
<li class="question">
  <div class="box"><%= question.votes.count %> votes<div>
  <div class="box"><%= question.answers.count %> answers<div>
  <h3><%= question.title %></h3>
  <%= question.creator.username %>
</li>
<% end %>
</ul>
