body{
  width: 100%;
  height: 100%;
  background-color: rgb(245,239,224);
  font-family: sans-serif;
}

.title_bar {
  position:absolute;
  background-color: rgb(75,43,39);
  width: 100%;
  top: 0;
  left:0;
  color: rgb(245,239,224);
  /*text-align: center;*/
}

.title_bar img{
  margin-left: 10%;
  margin-right: 1%;
  margin-top: 1%;
  display: inline-block;
}

#nav_title{
  display: inline-block;
  font-size: 2.3em;
  padding-bottom: 10px;
  margin: auto;
}

/*-moves down body from header-*/
.container{
  margin-top: 200px;
}

/*----- Navigation Links -----*/
nav{
  display:inline-block;
  float: right;
  margin-right: 6%;
}
nav a{
  text-decoration: none;
  color: rgb(245,239,224);
}
nav li{
  list-style: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
}
#break_bar_to_left{
  border-left: 1px solid rgb(245,239,224);
}
#break_bar_left_right{
  border-left: 1px solid rgb(245,239,224);
  border-right: 1px solid rgb(245,239,224);

}

/* ----- LOG IN SIGN UP CSS ---- */
.log_sign_form form{
  margin: auto;
  text-align: center;
  width:200px;
}

.log_sign_form input{
  margin-top: 10px;
  height: 30px;
  width: 200px;
}

.log_sign_form input[type="submit"]{
  width: 205px;
  border: none;
  background-color: white;

}

/* ---- Home PAGE---- */
.index h2{
  padding-bottom: 40px;
  margin: auto;
  width: 50%;
  font-size: 2em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.index .questions {
  margin-top: 30px;
}
.index #main_box{
  display: inline-block;
  text-align: center;
  /*border: 1px solid black;*/
}
.index #main_box td{
  padding: 5px;
}
.index .question h3{
  display: inline-block;
  margin-left: 1%;
  width:80%;
}
.index .questions{
  margin: auto;
  width: 80%;
}
.index .questions li {
  border: 1px solid rgba(0,0,0, .4);
  list-style-type: none;
  list-style: none;
  margin: 10px;
}
.index .question a{
  color: #B83926;
  text-decoration: none;
}
.index .question a:hover{
  color: rgb(79,77,72);
}
.index #username{
  display: inline-block;
}

.index .create_question{
  padding: 100px;
}
.index .create_question h3{
  margin: auto;
  margin-top: -80px;
  width: 50%;
  font-size: 2em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.create_question form{
  margin: auto;
  text-align: center;
  width:500px;
}
.create_question input[type="submit"]{
  width: 505px;
  height: 30px;
  border: none;
  background-color: white;
  margin-top: 20px;
}
.create_question input[name="question[title]"]{
  margin-top: 10px;
  height: 30px;
  width: 500px;
}
.create_question textarea[name="question[content]"]{
  margin-top: 10px;
  height: 100px;
  width: 500px;
}

      /*------ SHOW ERB --------*/

.show #title{
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 2em;
  text-align: center;
  color: rgb(79,77,72);
}
.show .votes{
  display: inline-block;
  text-align: center;
}
.show .question_post {
  margin: auto;
  list-style-type: none;
  list-style: none;
  min-height: 100px;
  width: 75%;
  padding-bottom: 25px;
}
.show .question_post p {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}
.show .user_info{
  width: 90%;
  text-align: right;
  margin: auto;
  font-weight: lighter;
}

/*--- COMMENTS ON QUESTION ---*/
.comments {
  margin-top: 30px;
  font-size: .8em;
}
.show .comments h4{
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.show .comment_box{
  padding: 5px;
}
.show .comments ul{
  width: 80%;
  margin: auto;
}
 .show .comments li {
  border: 1px solid rgba(0,0,0,.1);
  list-style-type: none;
  list-style: none;
  min-height: 70px;
  }
.comments p{
  padding-top: 1%;
  margin: auto;
  display: inline-block;
  margin-left: 10%;
  width: 70%;
}

/*--comments form--*/
.show .comments h3{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.comments form[id='responses'] textarea[name="response[content]"]{
  margin-top: 10px;
  min-height: 60px;
  min-width: 500px;
  max-width: 500px;
}
.comments form[id='responses'] input[type="submit"]{
  width: 505px;
  height: 30px;
  border: none;
  background-color: white;
  /*margin-top: 20px;*/
}
.comments form[id='responses']{
  font-size: 1em;
  margin: auto;
  text-align: center;
  width:500px;
  margin-bottom: 10px;
}

/*--- ANSWERS ---*/

.show .answers {
  margin-top: 10px;
}
.show .answers h2{
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  width: 50%;
  font-size: 1.3em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
 .answers li {
  list-style-type: none;
  list-style: none;
  min-height: 70px;
  width: 80%;
  margin: auto;
  }
.answers p{
  padding-top: 2%;
  margin: auto;
  display: inline-block;
  margin-left: 10%;
  width: 70%;
}
.answers h4{
  margin-top: 20px;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 0;
  width: 97%;
  text-align: left;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.answers form[id="answers"] textarea[name="answer[content]"]{
  margin-top: 10px;
  min-height: 200px;
  min-width: 500px;
  max-width: 500px;
}

.answers form[id="answers"] input[type="submit"]{
  width: 505px;
  height: 30px;
  border: none;
  background-color: white;
  /*margin-top: 20px;*/
}

.answers form[id="answers"]{
  font-size: 1em;
  margin: auto;
  text-align: center;
  width:500px;
  margin-bottom: 10%;
}

/*--- VOTE BUTTONS ----*/
.votes {
  float: left;
  display: inline-block;
}
.vote_box form input[type='submit']{
  width: 35px;
  font-size: 1.5em;
  text-align: center;
}
.vote_box .vote_number{
  width: 35px;
  text-align: center;
  font-size: 2em;
}
.answers form[id='responses'] textarea[name='response[content]']{
  margin-top: 10px;
  min-height: 25px;
  min-width: 500px;
  max-width: 500px;
}
.answers form[id="responses"] input[type="submit"]{
  width: 505px;
  height: 30px;
  border: none;
  background-color: white;
  /*margin-top: 20px;*/
}
.answers form[id="responses"]{
  font-size: 1em;
  margin: auto;
  text-align: center;
  width:500px;
  margin-bottom: 10%;
}


/*--- BEST ANSWER ----*/
.show .best-answer {
  margin-top: 10px;
}
.show .best-answer h4{
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.show .best-answer li {
  list-style-type: none;
  list-style: none;
  min-height: 70px;
  width: 80%;
  margin: auto;
  }
.show .best-answer p{
  margin: auto;
  padding-top: 2%;
  display: inline-block;
  width: 70%;
}
.best-answer h4{
  margin-top: 20px;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 0;
  width: 97%;
  text-align: left;
  color: rgb(79,77,72);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.best-answer form[id="answers"] textarea[name="answer[content]"]{
  margin-top: 10px;
  min-height: 200px;
  min-width: 500px;
  max-width: 500px;
}

.best-answer form[id="answers"] input[type="submit"]{
  width: 505px;
  height: 30px;
  border: none;
  background-color: white;
  /*margin-top: 20px;*/
}

.best-answer form[id="answers"]{
  font-size: 1em;
  margin: auto;
  text-align: center;
  width:500px;
  margin-bottom: 10%;
}
