body{
  width: 100%;
  height: 100%;

}

.title_bar {
  position:absolute;
  background-color: rgb(75,43,39);
  width: 100%;
  top: 0;
  left:0;
  color: rgb(245,239,224);
}

nav a{
  text-decoration: none;
  color: rgb(245,239,224);
}

.container{
  margin-top: 200px;
}
