<div class="vote-button">
  <button type="button" name="upvote">Up</button>
</div>
<div><%= object.votes.count %> votes</div>
<div class="vote-button">
  <button type="button" name="downvote">Down</button>
</div>
